.collection__page {
  --card-height: 145px;
  --card-cost-font-size: 1.25em;
  --card-power-font-size: 1.25em;
  
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 35vh;
}

.collection__page .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  justify-items: center;
  width: fit-content;
  margin: 0 auto;
}

.collection__page .grid-item {
  width: fit-content;

  div[data-component="Card"] {
    margin: 0 !important;
  }
}

.collection__page .collection__modal {
  --card-height: 60vh;
  --card-cost-font-size: 3.25em;
  --card-power-font-size: 3.25em;

  @include display-flex(column nowrap, center, center);
  @include position-fixed(0, 0, 0, 0, -1);
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: 150ms ease-in;
  transition-property: opacity;
  background: rgba(0,0,0,0.865);
  will-change: opacity, pointer-events, z-index;

  
  .modal__inner {
    @include display-flex(column nowrap, center, center);
    padding: 1rem;
    transition: 150ms ease-in;
    transition-delay: 150ms;
    transition-property: opacity, transform;
    will-change: opacity, transform;
    opacity: 0;
    transform: scale(0);
  }

  &--active {
    opacity: 1;
    z-index: 9000;
    pointer-events: auto;

    .modal__inner {
      opacity: 1;
      transform: scale(1);
    }
  }
}