.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 14px;
  margin: 0 0.35em;
  opacity: 1;
  position: relative;

  &.disabled {
    opacity: 0.5;
  }
}

.zone-side {
  display: grid;
  grid-gap: 0.3em;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  grid-template: repeat(3, var(--minion-height)) / repeat(2, auto);

  &.opponent-side {
    transform: scaleY(-1);
  }
}

.player-side-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.zone-center {
  position: relative;
  height: var(--zone-height);
  width: var(--zone-width);
  border-radius: var(--zone-border-radius);
  background: var(--zone-background-color);
  border-color: var(--zone-border-color);
  margin: 1em auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
}

.blank-slot {
  height: var(--minion-height);
  width: calc(var(--minion-height) / 1.25);
}

.zone-image {
  // height: 100%;
  // width: 100%;
  & > span {
    border-radius: var(--zone-border-radius);
    overflow: hidden;
    z-index: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.265);
    border-radius: 35%;
    overflow: hidden;
  }
}
