.card__play__area {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  user-select: none;
  overflow: hidden;
  transition: opacity 200ms ease-in-out;
  height: calc(100vh - calc(var(--hero-height) * 2));
  width: 100%;
  outline: none;
  will-change: opacity, pointer-events;
  z-index: 9000;
  cursor: pointer;
  margin-top: var(--hero-height);
}

.board--is-active.card__play__area {
  pointer-events: auto;
  opacity: 1;
}
