.hand__slot {
  position: relative;
  pointer-events: none;
}

// prettier-ignore
.hand__slot {
  &[data-component='MobileHandSlot'][data-index='0'] { z-index: 0; }
  &[data-component='MobileHandSlot'][data-index='1'] { z-index: 1; }
  &[data-component='MobileHandSlot'][data-index='2'] { z-index: 2; }
  &[data-component='MobileHandSlot'][data-index='3'] { z-index: 3; }
  &[data-component='MobileHandSlot'][data-index='4'] { z-index: 4; }
  &[data-component='MobileHandSlot'][data-index='5'] { z-index: 5; }
  &[data-component='MobileHandSlot'][data-index='6'] { z-index: 6; }
  &[data-component='MobileHandSlot'][data-index='7'] { z-index: 7; }
  &[data-component='MobileHandSlot'][data-index='8'] { z-index: 8; }
  &[data-component='MobileHandSlot'][data-index='9'] { z-index: 9; }
  &[data-component='MobileHandSlot'][data-index='10'] { z-index: 10; }

  &:hover {
    // z-index: 100;
  }
}
