.component {
  // position: absolute;
  // top: auto; right: 0; bottom: 0; left: 0;
  // margin-left: calc(var(--avatar-size) - 1.5rem);
  // margin-right: 0.5rem;
  // transform: scaleX(-1);
}

.grid {
  display: grid;
  grid-gap: 0.3em;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);

  // prettier-ignore
  & {
    &[data-total='1'] { grid-template-columns: repeat(1, 1fr); }
    &[data-total='2'] { grid-template-columns: repeat(2, 1fr); }
    &[data-total='3'] { grid-template-columns: repeat(3, 1fr); }
    &[data-total='4'] { grid-template-columns: repeat(4, 1fr); }
    &[data-total='5'] { grid-template-columns: repeat(5, 1fr); }
    &[data-total='6'] { grid-template-columns: repeat(6, 1fr); }
    &[data-total='7'] { grid-template-columns: repeat(7, 1fr); }
    &[data-total='8'] { grid-template-columns: repeat(8, 1fr); }
    &[data-total='9'] { grid-template-columns: repeat(9, 1fr); }
    &[data-total='10'] { grid-template-columns: repeat(10, 1fr); }
  }
}

.grid-item {
  width: fit-content;
}
