.health__wrapper {
  border-radius: 50%;
  bottom: var(--minion-stat-offset);
  font-size: 1em;
  font-weight: 600;
  height: calc(var(--minion-height) / 3.5);
  line-height: 1;
  position: absolute;
  right: calc(var(--minion-height) * -0.025);
  width: calc(var(--minion-height) / 3.5);
  z-index: 5;
}

.text {
  align-items: center;
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  height: calc(var(--minion-height) / 3.5);
  justify-content: center;
  left: -1px;
  position: absolute;
  right: 0;
  top: auto;
  width: calc(var(--minion-height) / 3.5);
  z-index: 1;

  &[data--is-damaged='true'] {
    color: #ff4800;
  }

  &[data--is-buffed='true'] {
    color: chartreuse;
  }

  &[data--is-animating='true'] {
    animation: animateHealth 150ms var(--animation-transition-cubic) forwards;
  }

  & > div {
    color: inherit;
    left: 1px;
    top: 0;
  }

  // prettier-ignore
  @keyframes animateHealth {
    0%   { transform: scale(1); }
    85%  { transform: scale(1.25); }
    100% { transform: scale(1); }
  }

  .--was-attacked & {
    animation-name: uk-shake-small;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }
}

.badge {
  bottom: 0;
  height: calc(var(--minion-height) / 3.5);
  image-rendering: pixelated;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(var(--minion-height) / 3.5);
  z-index: 0;
}

.badge.elite {
  left: 1px;
}
