.opponent__skills__around__orb {
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  color: white;
}

.opponent__skills__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opponent__skills__list-item {
  background: #111;
  border-radius: 50%;
  height: calc(var(--player-fab-size) * 0.675);
  margin: 0;
  position: relative;
  transform: scale(1);
  width: calc(var(--player-fab-size) * 0.675);

  &:before {
    border-top: 1px solid rgba(255, 255, 255, 0.925);
    border-bottom: 1px solid rgba(0, 0, 0, 0.725);
    border-radius: 50%;
    content: '';
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &:after {
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.425);
    border-radius: 50%;
    content: '';
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

// prettier-ignore
.opponent__skills__list-item {
  &:nth-child(1) { transform: translate(-5px, 45px); }
  &:nth-child(2) { transform: translate(20px, 50px); }
  &:nth-child(3) { transform: translate(70px, 25px); }
}

.opponent__skill__icon {
  border-radius: 50%;
  height: 100%;
  image-rendering: pixelated;
  object-fit: cover;
  position: absolute;
  transition-property: opacity, transform;
  width: 100%;
}

.opponent__skill__cost {
  $size: 20px;
  align-items: center;
  bottom: auto;
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--font-family-card);
  justify-content: flex-start;
  left: auto;
  margin: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: -4px;
  top: -4px;
  visibility: visible;
  z-index: 2;

  &.overlay--in-effect {
    opacity: 0;
    visibility: hidden;
  }

  &--gem {
    height: $size;
    width: $size;
    position: relative;

    & > div {
      font-size: 0.725em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    // prettier-ignore
    & > img { height: 100%; }
  }

  &--cooldown {
    height: calc(#{$size} / 1.6);
    width: calc(#{$size} / 1.6);
    position: absolute;
    top: -6px;
    right: -4px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    & > div:nth-child(1) {
      font-size: 0.65em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    & > div:nth-child(2) {
      position: relative;
      top: -2px;
      z-index: 0;
    }

    svg path {
      fill: none !important;
      stroke-width: 2.1;
    }
  }
}

.overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.675);
  border-radius: 50%;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  font-size: 44px;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  &.overlay--in-effect {
    opacity: 1;
    visibility: visible;
  }
}

// prettier-ignore
.locked__overlay {
  svg path { fill: transparent; }
  svg rect { stroke: white; }
}
