.card {
  border-radius: calc(var(--card-height) / 28.571428571);
  color: white;
  font-family: var(--font-family-card);
  height: var(--card-height);
  width: calc(var(--card-height) / var(--card-width-division));
  margin: 0 auto;
  position: relative;
  pointer-events: none;
  touch-action: none;

  p {
    color: black;
  }

  * {
    user-select: none;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 2;
    pointer-events: none;
    touch-action: none;
    transition: 200ms ease-in-out;
    transition-property: opacity;
    opacity: 0;
  }

  &.cant-play {
    color: #626262;

    p {
      color: #626262;
    }

    &:before {
      opacity: 1;
    }
  }
}

.card {
  &.card--type-ITEM,
  &.card--type-MINION,
  &.card--type-SPELL,
  &.card--type-WEAPON {
    box-sizing: border-box;
  }
}

.card.dev {
  --card-height: 400px;
}
