.hero__ability__fab {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

// prettier-ignore
.main__button__image {
  border-radius: 50%;
  height: 100%;
  image-rendering: pixelated;
  object-fit: cover;
  position: absolute;
  transition-property: opacity, transform;
  width: 100%;

  &.fab--closed { opacity: 1; }
  &.fab--open   { opacity: 0; }
}
