.attack__wrapper {
  border-radius: 50%;
  bottom: var(--minion-stat-offset);
  font-size: 1em;
  font-weight: 600;
  height: calc(var(--minion-height) / 3.5);
  left: calc(var(--minion-height) / -24.5);
  line-height: 1;
  position: absolute;
  width: calc(var(--minion-height) / 3.5);
  z-index: 5;
}

.text {
  align-items: center;
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  height: calc(var(--minion-height) / 4);
  justify-content: center;
  left: -1px;
  position: absolute;
  right: 0;
  top: auto;
  width: calc(var(--minion-height) / 3.85);
  z-index: 1;

  &[data--is-damaged='true'] {
    color: white;
  }

  &[data--is-buffed='true'] {
    color: chartreuse;
  }

  & > div {
    color: inherit;
    left: 4px;
    top: 0;
  }
}

.minion__race--location .text > div {
  color: black;
  text-shadow: none;
}

.text.elite > div {
  left: 1.5px;
}

.badge {
  bottom: -2px;
  height: calc(var(--minion-height) / 3.15);
  image-rendering: pixelated;
  left: 0;
  position: absolute;
  right: 0;
  top: -4px;
  width: auto;
  z-index: 0;
}

.badge.elite {
  height: calc(var(--minion-height) / 2.75);
  left: -5px;
  top: -9px;
}
