$sizeH: 120px;
$ratio: 1.333333333;
$offset: 20px;

.player__interaction__layer {
  background: transparent;
  height: calc(#{$sizeH});
  width: calc(#{$sizeH} / #{$ratio});
  display: block;
  position: absolute;
  top: calc(#{$offset} / -1.75);
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
  outline: none;

  * {
    pointer-events: none;
  }
}
