.player__interaction__layer {
  background: transparent;
  display: block;
  height: 100%;
  outline: none;
  position: absolute;
  width: 100%;
  z-index: 1;

  @media (min-width: 960px) {
    left: 0;
    right: 0;
    max-width: 920px;
    margin: 0 auto;
  }
}
