.player__stats__icon {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 20px;
  min-width: 25px;
  outline: none;
  position: relative;
  z-index: 2;

  .total__energy {
    font-size: 0.615em;
    letter-spacing: -0.065em;
    min-width: 20px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -8px;
  }

  .player__stat {
    font-family: var(--font-family-card);
    text-align: center;

    // prettier-ignore
    & > span {
      letter-spacing: normal;
      &[data-value='10'] { letter-spacing: -0.065em; }
    }
  }
}
