.main__button__icon {
  border-radius: 50%;
  height: 100%;
  image-rendering: pixelated;
  object-fit: cover;
  position: absolute;
  transition-property: opacity, transform;
  width: 100%;
}

.main__button__cost {
  $size: 32px;
  align-items: center;
  bottom: auto;
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--font-family-card);
  justify-content: flex-start;
  left: auto;
  margin: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: auto;
  top: -10px;
  visibility: visible;
  z-index: 1;

  &.overlay--in-effect {
    opacity: 0;
    visibility: hidden;
  }

  &--gem {
    height: $size;
    width: $size;
    position: relative;

    & > div {
      font-size: 0.925em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    // prettier-ignore
    & > img { height: 100%; }
  }

  &--cooldown {
    height: calc(#{$size} / 1.6);
    width: calc(#{$size} / 1.6);
    position: absolute;
    top: -6px;
    right: -18px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    & > div:nth-child(1) {
      font-size: 0.65em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    & > div:nth-child(2) {
      position: relative;
      top: -2px;
    }

    svg path {
      fill: none !important;
    }
  }
}

.main__button__spell__type {
  $size: 24px;
  align-items: center;
  background: #111;
  border-radius: 50%;
  bottom: calc(#{$size} / -2);
  display: flex;
  flex-flow: column nowrap;
  height: $size;
  justify-content: center;
  left: auto;
  margin: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: auto;
  top: auto;
  visibility: visible;
  width: $size;
  z-index: 1;

  &.overlay--in-effect {
    opacity: 0;
    visibility: hidden;
  }
}

.overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.675);
  border-radius: 50%;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  font-size: 44px;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  &.overlay--in-effect {
    opacity: 1;
    visibility: visible;
  }
}

// prettier-ignore
.locked__overlay {
  svg path { fill: transparent; }
  svg rect { stroke: white; }
}
