// @import 'styles/mixins/flex';

.minion__mechanics {
  $divide: 3;
  bottom: calc(var(--minion-height) / -7.071428571);
  height: calc(var(--minion-height) / #{$divide});
  left: 0;
  margin: 0 auto;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: calc(var(--minion-height) / #{$divide});
  z-index: 4;
  // @include display-flex(row nowrap, center, center);

  & > img {
    width: 100%;
    image-rendering: pixelated;
    z-index: 1;
  }

  &.minion__mechanics--will-expire {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    & > span {
      font-size: 1.45em;
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }

  // prettier-ignore
  // &[data-length='2'] {
  //   & > img { position: absolute; }
  //   & > img:nth-child(1) { right: calc(var(--minion-height) / 20); }
  //   & > img:nth-child(2) { left: calc(var(--minion-height) / 12); }
  // }

  // // prettier-ignore
  // &[data-length='3'] {
  //   bottom: auto;
  //   height: auto;
  //   flex-flow: column nowrap;
  //   top: calc(var(--minion-height) / -5);
  //   & > img { position: relative; }

  //   & > img:nth-child(1) {
  //     bottom: calc(var(--minion-height) / -4.571428571);
  //     left: calc(var(--minion-height) / -3.071428571);
  //   }

  //   & > img:nth-child(2) {
  //     bottom: calc(var(--minion-height) / -10.571428571);
  //     left: calc(var(--minion-height) / -2.571428571);
  //   }

  //   & > img:nth-child(3) {
  //     left: calc(var(--minion-height) / -2.571428571);
  //   }
  // }

  // &[data-length='2'] > img {
  //   margin: 0 -14%;
  //   width: 75%;
  // }

  // &[data-length='3'] > img {
  //   margin: 0 -16%;
  //   width: 65%;
  // }
}
