.hand {
  --card-height: 200px;
}

.hand {
  align-items: flex-start;
  background: var(--board-yourPlayerArea-background-color);
  border-top: 1px solid rgba(0, 0, 0, 0.65);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: calc(var(--card-height) / 10);
  max-height: 100px;
  max-width: 100vw;
  min-height: 100px;
  min-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: calc(var(--card-height) / 10);
  width: 100vw;
}

// prettier-ignore
.card__wrapper {
  position: relative;
  z-index: 1;
  
  &:first-child { padding-left: calc(var(--card-height) / 10); }
  & + .card__wrapper { margin-left: calc(var(--card-height) / -2.5); }
  &:last-child { padding-right: calc(var(--card-height) / 10); }
}
