.minion--has-boon {
  $color: var(--mechanics-color-boon);

  animation: hasBoonGlow 4000ms linear infinite;
  background: transparent;
  border-radius: var(--minion-border-radius);
  height: 100%;
  opacity: 1;
  width: 100%;
  pointer-events: none;
  transition: 600ms ease-in-out;
  transition-property: box-shadow, opacity, transform;
  @include position-absolute(0, 0, 0, 0, 1);

  .minion__race--location & {
    $percent: 35%; // 50% - $percent
    border-bottom-left-radius: calc(var(--minion-border-radius) - #{$percent});
    border-bottom-right-radius: calc(var(--minion-border-radius) - #{$percent});
  }

  .minion--is-selected ~ & {
    transform: scale(1.15);
  }

  @keyframes hasBoonGlow {
    0%,
    60% {
      box-shadow: 0 0 0 $color;
      opacity: 0;
    }
    70% {
      box-shadow: 0 0 5px 5px $color;
      opacity: 1;
    }
    80% {
      box-shadow: 0 0 10px 10px $color;
      opacity: 1;
    }
    90% {
      box-shadow: 0 0 30px 15px $color;
      opacity: 0.45;
    }
    100% {
      box-shadow: 0 0 25px 12.5px $color;
      opacity: 0;
    }
  }
}
