.minion--has-bubble {
  $color: var(--mechanics-color-bubble);
  $size: 108%;
  $sizeAddition: 2%;
  $useBorder: true;
  $borderSize: 2px;

  animation: component-mounted 400ms var(--animation-transition-cubic) forwards;
  background: transparent;
  border-radius: var(--minion-border-radius);
  height: $size;
  opacity: 0;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  transform: scale(0.1);
  transition: 600ms var(--animation-transition-cubic);
  transition-property: height, opacity, transform, width;
  width: $size;
  will-change: height, opacity, transform, width;
  z-index: var(--zIndex-Mechanics-Bubble);

  .outer__ring {
    background: $color;
    border-radius: var(--minion-border-radius);
    bottom: 0;
    height: calc(#{$size} + #{$sizeAddition});
    left: -5%;
    margin: 0 auto;
    opacity: 0.45;
    overflow: visible;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -5%;
    width: calc(#{$size} + #{$sizeAddition});
    transition: 100ms var(--animation-transition-cubic);
    transition-property: opacity, transform;
    will-change: opacity, transform;

    @if $useBorder {
      border: 2px solid $color;
    }
  }

  @keyframes component-mounted {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }
    20% {
      opacity: 0.45;
      transform: scale(0.1);
    }
    90% {
      opacity: 1;
      transform: scale(1.15);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .board__slot--is-attacking & {
    height: calc(#{$size} + 12%);
    width: calc(#{$size} + 14%);
  }
}
