.minion--has-bulwark-background {
  // animation-duration: 300ms;
  position: absolute;
  width: calc(var(--minion-height) / 1.19047619);
  height: calc(var(--minion-height) / 0.909090909);
  top: calc(var(--minion-height) / -30);
  right: 0;
  bottom: 0;
  left: calc(var(--minion-height) / -37.5);
  pointer-events: none;
  transform: scale(1);
  transition: transform 0ms var(--animation-transition-cubic);
  will-change: transform;
  z-index: 1;

  &.minion--is-animating {
    transform: scale(0.1);
  }

  .board__slot--is-attacking & {
    transform: scale(1.15);
    transition-duration: 400ms;
  }

  .minion--is-dead & {
    opacity: 0;
    transform: scale(0.1);
  }

  &.minion__race--location {
    background: black;
    border-radius: var(--minion-border-radius);
    height: 80%;
  }
}

.minion--has-bulwark-foreground {
  // animation-duration: 300ms;
  position: absolute;
  width: calc(var(--minion-height) / 1.19047619);
  height: calc(var(--minion-height) / 0.909090909);
  top: calc(var(--minion-height) / -30);
  right: 0;
  bottom: 0;
  left: calc(var(--minion-height) / -37.5);
  pointer-events: none;
  transform: scale(1);
  transition: transform 0ms var(--animation-transition-cubic);
  z-index: 3;

  &.minion--is-animating {
    transform: scale(0.1);
  }

  .board__slot--is-attacking & {
    transform: scale(1.15);
    transition-duration: 400ms;
  }

  .minion--is-dead & {
    transform: scale(0.1);
  }
}
