.minion--is-hidden {
  pointer-events: none;
}

.minion--is-hidden {
  @include position-absolute(0, 0, 0, 0, 1);

  &:before {
    background: #333;
    border-radius: var(--minion-border-radius);
    content: '';
    height: 100%;
    overflow: hidden;
    width: 100%;
    opacity: 0.625;
    @include position-absolute(0, 0, 0, 0, 0);
  }

  .hidden__clouds {
    animation: scroll-smoke 12s linear infinite;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block !important;
    height: 250%;
    opacity: 0;
    position: absolute;
    transform: translate(-25%, -75%);
    width: 200%;
    z-index: 1;
    filter: drop-shadow(2px 4px 6px black);
  }

  @keyframes scroll-smoke {
    0% {
      opacity: 0;
      transform: translate(-25%, -75%);
    }

    10% {
      opacity: 0.625;
    }

    90% {
      opacity: 0;
    }

    90% {
      opacity: 0;
      transform: translate(-50%, 15%);
    }
  }
}
