.minion--will-expire {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
  border-radius: var(--minion-border-radius);
  pointer-events: none;
  opacity: 0;

  .minion__race--location & {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  & > div {
    background-image: url(https://media2.giphy.com/media/TEscUstbAdaSc/source.gif);
    height: 200%;
    width: 250%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1) sepia(1);
    opacity: 0.425;
  }
}

[data-will-expire='true'] [data-file='Minion/image'] > img {
  filter: hue-rotate(-145deg) invert(1) sepia(0.5);
  transition: filter 900ms ease-in-out;
}
