.board__drop__area {
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 0px dashed rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  // min-height: 150px;
  min-width: 0;
  opacity: 0;
  pointer-events: none;
  position: relative;
  user-select: none;
  width: 0;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  height: 100%;
  outline: none;

  @media (min-width: 960px) {
    width: 2.5%;
  }
}

.board--is-active.board__drop__area {
  cursor: pointer;
  pointer-events: auto;
  width: 1%;
  margin: 0;
  opacity: 1;

  & + div,
  & + div [data-component*='minion-interactions'] {
    pointer-events: none;
  }

  &.area--is-alone {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    // background: red;
    // opacity: 1;
  }

  @media (max-width: 959px) {
    background: rgba(255, 255, 255, 0.25);
    border: 1px dashed rgba(255, 255, 255, 0.925);
    min-width: 7.5%;
    width: 7.5%;
  }

  @media (min-width: 960px) {
    width: 2.5%;
    opacity: 0;
    z-index: 9000;

    &:not(.area--is-alone):hover {
      // background: rgba(255, 255, 255, 0.25);
      // border-color: rgba(255, 255, 255, 0.925);
      width: 20%;
    }
  }

  @keyframes ants {
    to {
      background-position: 100%;
    }
  }
}

// .spell-slot ~ .board-is-active .board__drop__area {
//   opacity: 0;
// }

.board__drop__area.cant--drop-minion {
  cursor: default;
  pointer-events: none;
}
