.cards__wrapper {
  background: var(--board-yourPlayerArea-background-color);
  border-top: 1px solid rgba(0, 0, 0, 0.65);
  padding-top: calc(var(--card-height) / 10);
  margin-top: calc(var(--card-height) / 10);
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  @include display-flex(row nowrap, flex-start, flex-start);
}

.your__cards__wrapper {
  --card-height: 200px;

  min-height: 100px;
  max-height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
}

// prettier-ignore
.card__wrapper {
  position: relative;
  z-index: 1;
  
  &:first-child { padding-left: calc(var(--card-height) / 10); }
  & + .card__wrapper { margin-left: calc(var(--card-height) / -2.5); }
  &:last-child { padding-right: calc(var(--card-height) / 10); }
}
