// prettier-ignore
.board__slot--card-tooltip {
                                  --card-height: 250px;
  @include breakpoint('xlarge') { --card-height: 300px; }
  @include breakpoint('hd')     { --card-height: 350px; }
}

.board__slot--card-tooltip {
  animation-delay: 1200ms;
  animation-duration: 200ms;
  cursor: default;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: calc(var(--card-height) * -0.6);
  top: calc(var(--card-height) * -0.8);
  z-index: 1000;
  @include display-flex(column nowrap, flex-start, flex-start);

  &.show--left {
    right: auto;
    left: calc(var(--card-height) * -0.6);
  }

  @include breakpoint('xlarge') {
    top: calc(var(--card-height) * -0.7);
  }

  @include breakpoint('hd') {
    top: calc(var(--card-height) * -0.7);
  }
}

.board__slot--card-tooltip {
  .tooltip__mechanics__wrapper {
    margin-bottom: 0;
    margin-left: calc(var(--card-height) / 1.315);
    margin-right: 0;
    margin-top: calc(var(--card-height) / 40);
    max-width: calc(var(--card-height) / 1.8263249);
    position: absolute;
    width: 100%;
    list-style-type: none;
    padding: 0;
  }

  &.show--left .tooltip__mechanics__wrapper {
    left: 0;
    margin-left: calc(calc(var(--card-height) / 1.715) * -1);
    margin-right: auto;
    right: auto;
  }
}

.board__slot--card-tooltip .tooltip__mechanics__wrapper .mechanic__item {
  $bg: #333;
  background-color: $bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  border: 2px solid mix(white, $bg, 20%);
  padding: 8px 10px 10px;

  & + .mechanic__item {
    margin-top: calc(var(--card-height) / 55);
  }

  .mechanic__item-title {
    color: mix(white, $bg, 80%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75em;
    font-weight: 900;
    line-height: 1.1;
    margin: 0 0 0.25em;
    text-transform: uppercase;
  }

  .mechanic__item-description {
    color: mix(white, $bg, 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -0.015em;
  }

  &.is--debuff {
    $bg: rgb(100, 20, 20);
    background-color: $bg;
    border-color: mix(white, $bg, 60%);
  }
}

// prettier-ignore
.board__slot--card-tooltip {
  display: none;
  @media (min-width: 960px) { display: flex; }
}

// prettier-ignore
.board__slot--card-tooltip {
  font-size: 10px;
  @media (min-width: 1100px) { font-size: 11px; }
  @media (min-width: 1200px) { font-size: 12px; }
  @media (min-width: 1360px) { font-size: 13px; }
}
