@media (min-width: 1600px) {
  [data-component='Player'] .bm-overlay {
    display: none !important;
  }

  [data-component='Player'] .bm-menu-wrap {
    position: fixed !important;
    right: 0px !important;
    z-index: 10 !important;
    width: 300px !important;
    height: 100% !important;
    transform: none !important;
  }
}
