.minion__interaction {
  background: transparent;
  border-radius: var(--minion-border-radius);
  outline: none;
  pointer-events: none;
  // opacity: 0;
  position: absolute;

  // height: 110%;
  // width: 110%;
  // @include position-absolute(-5%, 0, 0, -5%, 0);

  height: 100%;
  width: 100%;
  @include position-absolute(0, 0, 0, 0, 0);

  * {
    pointer-events: none;
  }

  & > * {
    cursor: pointer;
  }

  & > img {
    width: 100%;
    transform: scale(1.35);
  }

  // .board__slot--is-attacking & {
  //   transform: scale(1.15);
  // }

  .minion__race--location & {
    $percent: 35%; // 50% - $percent
    border-bottom-left-radius: calc(var(--minion-border-radius) - #{$percent});
    border-bottom-right-radius: calc(var(--minion-border-radius) - #{$percent});
  }

  [data-has-bulwark='true'] & {
    $percent: 2%; // 50% - $percent
    border-top-left-radius: $percent;
    border-top-right-radius: $percent;
    border-bottom-left-radius: calc(var(--minion-border-radius) - #{$percent});
    border-bottom-right-radius: calc(var(--minion-border-radius) - #{$percent});
  }

  // add pseudo elem to minion for hover fx
  & + [data-component='Minion']:after {
    // background: mix(white, transparent, 25%);
    box-shadow: inset 0px 0px 0px 0px white;
    border-radius: var(--minion-border-radius);
    // content: '';
    height: 100%;
    opacity: 0.465;
    width: 100%;
    pointer-events: none;
    transition: 400ms var(--animation-transition-cubic);
    transition-property: box-shadow, opacity;
    will-change: box-shadow, opacity;
    @include position-absolute(0, 0, 0, 0, 2);

    // prettier-ignore
    .minion__race--location & {
      $percent: 35%; // 50% - $percent
      border-bottom-left-radius: calc(var(--minion-border-radius) - #{$percent});
      border-bottom-right-radius: calc(var(--minion-border-radius) - #{$percent});
    }
  }

  &[data-active='true']:hover + [data-component='Minion']:after {
    box-shadow: inset 0px 0px 0px 10px white;
  }

  &[data-active='false']
    + [data-component='Minion']
    > [data-file='Minion/image'] {
    border-color: rgb(182, 180, 180);
  }

  &[data-active='true']:hover
    + [data-component='Minion']
    > [data-file='Minion/image'] {
    border-color: white;
  }
}

// canBeAttacked
[data-can-be-attacked='true'] {
  .minion__interaction + [data-component='Minion']:after {
    box-shadow: inset 0px 0px 0px 0px var(--box-shadow-can-be-attacked-color);
    opacity: 0.75;
  }

  .minion__interaction[data-active='true']:hover
    + [data-component='Minion']:after {
    box-shadow: inset 0px 0px 0px 10px var(--box-shadow-can-be-attacked-color);
  }
}

// canAttack
[data-can-attack='true'] {
  .minion__interaction + [data-component='Minion']:after {
    box-shadow: inset 0px 0px 0px 0px var(--box-shadow-can-be-selected-color);
    opacity: 0.625;
  }

  .minion__interaction[data-active='true']:hover
    + [data-component='Minion']:after {
    box-shadow: inset 0px 0px 0px 10px var(--box-shadow-can-be-selected-color);
  }
}

// isAttacking
// prettier-ignore
.minion__interaction {
  & + [data-component='Minion']:after {
    .board__slot--is-attacking & { opacity: 0; }
  }

  & + [data-component='Minion'] > [data-file='Minion/image'] {
    .board__slot--is-attacking & { border-color: white; }
  }
}
