.minion__interaction {
  border-radius: var(--minion-border-radius);
  cursor: pointer;
  height: 110%;
  outline: none;
  pointer-events: auto;
  position: absolute;
  width: 110%;
  @include position-absolute(-5%, 0, 0, -5%, 0);

  * {
    pointer-events: none;
  }

  .minion__race--location & {
    $percent: 35%; // 50% - $percent
    border-bottom-left-radius: calc(var(--minion-border-radius) - #{$percent});
    border-bottom-right-radius: calc(var(--minion-border-radius) - #{$percent});
  }

  [data-has-bulwark='true'] & {
    $percent: 2%; // 50% - $percent
    border-top-left-radius: $percent;
    border-top-right-radius: $percent;
    border-bottom-left-radius: calc(var(--minion-border-radius) - #{$percent});
    border-bottom-right-radius: calc(var(--minion-border-radius) - #{$percent});
  }
}
