.minion__interaction {
  border-radius: var(--minion-border-radius);
  cursor: pointer;
  outline: none;
  pointer-events: auto;
  position: absolute;

  // height: 110%;
  // width: 110%;
  // @include position-absolute(-5%, 0, 0, -5%, 0);

  height: 100%;
  width: 100%;
  @include position-absolute(0, 0, 0, 0, 0);

  * {
    pointer-events: none;
  }

  & > img {
    width: 100%;
    transform: scale(1.35);
  }

  // .board__slot--is-attacking & {
  //   transform: scale(1.15);
  // }

  .minion__race--location & {
    $percent: 35%; // 50% - $percent
    border-bottom-left-radius: calc(var(--minion-border-radius) - #{$percent});
    border-bottom-right-radius: calc(var(--minion-border-radius) - #{$percent});
  }

  [data-has-bulwark='true'] & {
    $percent: 2%; // 50% - $percent
    border-top-left-radius: $percent;
    border-top-right-radius: $percent;
    border-bottom-left-radius: calc(var(--minion-border-radius) - #{$percent});
    border-bottom-right-radius: calc(var(--minion-border-radius) - #{$percent});
  }
}
