.opponent__interaction {
  background: transparent;
  cursor: pointer;
  height: 100%;
  outline: none;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  @include position-absolute(0, 0, 0, 0, 1);

  * {
    pointer-events: none;
  }

  & > * {
    cursor: pointer;
  }

  & > img {
    width: 100%;
    transform: scale(1.35);
  }
}
