.avatar__wrapper {
  $size: calc(var(--avatar-height) / 2.5);
  $offset: calc(#{$size} / -4);

  .player__health {
    background: var(--color-rarity-MYTHIC);
    border-radius: 50%;
    font-family: var(--font-family-card);
    height: $size;
    width: $size;
    @include display-flex(column nowrap, center, center);
    @include position-absolute($offset, auto, auto, $offset, 1);
  }

  &.their__avatar__wrapper .player__health {
    @include position-absolute(auto, auto, $offset, $offset, 1);
  }
}
