.player__health__orb {
  $size: var(--player-health-size);

  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-flow: column nowrap;
  font-size: 42px;
  font-weight: bold;
  height: $size;
  justify-content: center;
  pointer-events: none;
  width: $size;
  z-index: 0;
  position: relative;

  .player__health__orb__value {
    font-family: var(--font-family-card);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    line-height: 1;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .player__health__orb__image {
    margin: 0;
    height: calc($size + 30px);
    image-rendering: pixelated;
  }
}

// prettier-ignore
.player__health__orb {
  // @media (min-width: 960px) { --player-health-size: 300px; }
}
