// @import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@font-face {
  font-family: 'Carter One';
  src: url('/fonts/CarterOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
