.text__value {
  color: white;
  display: block;
  line-height: 1;
  position: relative;

  // prettier-ignore
  text-shadow: 0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black;
}
