.minion--has-onslaught {
  $divide: 3.5;

  opacity: 1;
  pointer-events: none;
  position: absolute;
  z-index: 2;

  bottom: -14px;
  height: calc(var(--minion-height) / #{$divide});
  width: calc(var(--minion-height) / #{$divide});

  & > img {
    width: 100%;
    image-rendering: pixelated;
  }
}
