.minion--has-energy-shield {
  animation: es-mounted 1200ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  border-radius: var(--minion-border-radius);
  height: 108%;
  width: 108%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background: transparent;
  /* border: 2px solid #dbffdb; */
  z-index: 3;

  .outer__ring {
    border-radius: var(--minion-border-radius);
    background: rgba(90, 245, 90, 0.465);
    bottom: 0;
    left: -5%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -5%;
    width: 110%;
    height: 110%;
    pointer-events: none;
    transition: transform 100ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .outer__ring .--is-attacking & {
    transform: scale(1.15);
  }

  @keyframes es-mounted {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
