.minion--is-disabled {
  $divide: 3.5;

  opacity: 1;
  pointer-events: none;
  position: absolute;
  z-index: 2;

  top: -14px;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // height: var(--minion-height);
  // width: var(--minion-height);
  width: 142%;
  margin: 0 auto;

  & > img {
    width: 100%;
    image-rendering: pixelated;
  }
}
