.minion--is-elite {
  bottom: 0;
  left: -25px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -28px;
  transition-property: transform;
  transition: transform 400ms var(--animation-transition-cubic);
  width: 140%;
  will-change: transform;
  z-index: 1;

  & > img {
    pointer-events: none;
    width: 100%;
  }

  .--is-attacking & {
    transform: scale(1.15);
    transition-duration: 100ms;
  }

  .is-dead & {
    opacity: 0;
    transform: scale(0.1);
  }
}
