.hero {
  $sizeH: 100px;
  $sizeW: 150px;
  $ratio: 1.333333333;

  align-items: stretch;
  background: #111;
  border-top: 1px solid rgba(255, 255, 255, 0.465);
  box-sizing: content-box;
  display: flex;
  flex-flow: row nowrap;
  height: $sizeH;
  justify-content: flex-start;
  position: relative;
  transition: transform 600ms var(--animation-transition-cubic);
  width: 100vw;
  z-index: 1;

  &.card--is-selected {
    transform: translateY(calc(#{$sizeH} / 1.333333333));
  }

  .player__info {
    padding-bottom: calc(#{$sizeH} / 15);
    padding-left: calc(#{$sizeH} / 10);
    padding-right: calc(#{$sizeH} / 10);
    padding-top: calc(#{$sizeH} / 15);
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .player__health {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    // prettier-ignore
    & > div { margin-right: calc(var(--class-skill-button-size) / -4.375); }
  }

  .player__fab {
    position: absolute;
    top: 0;
    left: 45%;
    right: auto;
    bottom: auto;
    transform: translateY(calc(var(--player-fab-size) / -1.458));
    z-index: 1;
  }

  .player__stats {
    box-sizing: border-box;
  }
}
