$sizeH: var(--hero-height);
$sizeW: 150px;
$ratio: 1.333333333;

.hero {
  align-items: stretch;
  background: #111;
  border-top: 1px solid rgba(255, 255, 255, 0.465);
  box-sizing: content-box;
  display: flex;
  flex-flow: row nowrap;
  height: $sizeH;
  justify-content: flex-start;
  position: relative;
  transition: 600ms var(--animation-transition-cubic);
  transition-property: filter, opacity, transform;
  width: 100vw;
  z-index: var(--zIndex-Hero);

  @media (min-width: 960px) {
    max-width: 960px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    max-width: 90vw;
  }

  @media (min-width: 1440px) {
    max-width: 1100px;
  }
}

.hero[data-player='Player'].card--is-selected {
  filter: blur(2px);
  transform: translateY(calc(#{$sizeH} / 1.333333333));

  @media (min-width: 960px) {
    filter: blur(0px);
    transform: translateY(0);
  }
}

.player__info,
.player__desktop__bar {
  padding-bottom: calc(#{$sizeH} / 15);
  padding-left: calc(#{$sizeH} / 10);
  padding-right: calc(#{$sizeH} / 10);
  padding-top: calc(#{$sizeH} / 15);
  width: 100%;
  flex: 1 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;

  @media (min-width: 960px) {
    flex: 0;
  }
}

.player__health {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  div[data-component='PlayerHealthOrb'] {
    margin-right: calc(var(--class-skill-button-size) / -4.375);
  }
}

.player__fab {
  position: absolute;
  top: 0;
  left: 45%;
  right: auto;
  bottom: auto;
  transform: translateY(calc(var(--player-fab-size) / -1.458));
  z-index: 1;
}

.player__stats {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: 960px) {
    margin-bottom: calc(var(--hero-height) / 3.5);
    width: 70px;
  }
}

.player__desktop__bar {
  flex: 1 1;
  align-items: center;
  justify-content: center;
}
