.minion__interaction {
  // border-radius: var(--minion-border-radius);
  cursor: pointer;
  height: 100%;
  outline: none;
  pointer-events: auto;
  position: absolute;
  width: 100%;
  @include position-absolute(0, 0, 0, 0, var(--zIndex-MinionInteractionLayer));

  * {
    pointer-events: none;
  }
}

.minion__shadows {
  animation: fadeIn 1200ms var(--animation-transition-cubic) forwards;
  border-radius: var(--minion-border-radius);
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 600ms var(--animation-transition-cubic);
  width: 100%;
  will-change: opacity;

  &:before,
  &:after {
    border-radius: var(--minion-border-radius);
    content: '';
    cursor: pointer;
    height: 100%;
    opacity: 0;
    outline: none;
    transform: scale(1);
    transition: 600ms var(--animation-transition-cubic);
    transition-property: box-shadow, opacity, transform;
    width: 100%;
    will-change: box-shadow, opacity, transform;
    @include position-absolute(0, 0, 0, 0, -1);
  }

  // prettier-ignore
  @keyframes fadeIn {
    from  { opacity: 0; }
    to    { opacity: 1; }
  }
}

[data-has-bulwark='true'] .minion__shadows {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: calc(var(--minion-border-radius) - 4%);
  border-bottom-right-radius: calc(var(--minion-border-radius) - 4%);

  &:before,
  &:after {
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: calc(var(--minion-border-radius) - 4%);
    border-bottom-right-radius: calc(var(--minion-border-radius) - 4%);
  }
}

@import 'can-attack';
