.minion__interaction--can-be-attacked {
  $color: --box-shadow-can-be-attacked;
  $hoverColor: var(#{$color}-color-ripple);

  & + .minion__shadows {
    background: var(#{$color}-color);
  }

  & + .minion__shadows:before {
    // box-shadow: var($color);
  }

  & + .minion__shadows:after {
    animation: targeting-ripple-can-be-attacked 600ms linear infinite;
  }

  // @keyframes targeting-ripple-can-be-attacked {
  //   0% {
  //     box-shadow: 0 4px 10px $hoverColor, 0 0 0 0 $hoverColor,
  //       0 0 0 5px $hoverColor, 0 0 0 10px $hoverColor;
  //   }
  //   100% {
  //     box-shadow: 0 4px 10px $hoverColor, 0 0 0 5px $hoverColor,
  //       0 0 0 10px $hoverColor, 0 0 0 20px rgba(0, 0, 0, 0);
  //   }
  // }
}
