.minion__interaction--is-attacking {
  $color: --box-shadow-is-selected;
  $hoverColor: var(#{$color}-color-ripple);

  & + .minion__shadows {
    background: var(#{$color}-color);
    transform: scale(1.15);
  }

  & + .minion__shadows:before {
    // box-shadow: var($color);
    // transform: scale(1.15);
  }

  &:hover + .minion__shadows:before {
    // transform: scale(1);
  }

  &:hover + .minion__shadows:after {
    // transform: scale(1.15);
  }

  & + .minion__shadows:after {
    animation: targeting-ripple-is-attacking 600ms linear infinite;
  }

  // @keyframes targeting-ripple-is-attacking {
  //   0% {
  //     box-shadow: 0 4px 10px $hoverColor, 0 0 0 0 $hoverColor,
  //       0 0 0 5px $hoverColor, 0 0 0 10px $hoverColor;
  //   }
  //   100% {
  //     box-shadow: 0 4px 10px $hoverColor, 0 0 0 5px $hoverColor,
  //       0 0 0 10px $hoverColor, 0 0 0 20px rgba(0, 0, 0, 0);
  //   }
  // }
}
