.card__health {
  align-items: center;
  bottom: calc(var(--card-height) / -50);
  display: flex;
  flex-flow: column nowrap;
  font-size: calc(var(--card-height) / 12.5);
  height: calc(var(--card-height) / 6.896551724);
  justify-content: center;
  position: absolute;
  right: calc(var(--card-height) / -30);
  width: calc(var(--card-height) / 6.896551724);
  z-index: 2;

  & > div {
    left: -0.5px;
    top: 0.5px;
    z-index: 1;
  }

  &__badge {
    height: calc(var(--card-height) / 6.896551724);
    position: absolute;
  }

  // prettier-ignore
  &.card__health__elite {
    height: calc(var(--card-height) / 5.896551724);
    right: calc(var(--card-height) / -24);
    width: calc(var(--card-height) / 6.368159204);
    & > div { left: -2px; }
  }

  &__badge__elite {
    height: calc(var(--card-height) / 5.896551724);
    image-rendering: pixelated;
    position: absolute;
  }
}
