.minion__mechanics {
  transform: scale(1);
  transition: transform 400ms var(--animation-transition-cubic);
  transition-property: transform;
  will-change: transform;

  .--is-attacking & {
    transform: scale(1.15) translateY(calc(var(--minion-height) / 15));
    transition-duration: 100ms;
  }

  .is-dead & {
    opacity: 0;
    transform: scale(0.1);
  }
}
