.card__interaction__layer {
  position: relative;
  pointer-events: none;
  border-radius: calc(var(--card-height) / 28.571428571);
  font-family: var(--font-family-card);
  height: var(--card-height);
  width: calc(var(--card-height) / var(--card-width-division));
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);

  // box shadow
  &:before {
    border-radius: var(--card-border-radius);
    // box-shadow: -5px 5px 5px hsla(0, 0%, 0%, 0.925);
    content: '';
    height: var(--card-height);
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: box-shadow 800ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
  }

  // disable card component pointer
  // to avoid mixed interactions
  [data-component='Card'] {
    pointer-events: none;
  }
}
