.board-slot {
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--minion-border-radius);
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 1.25%;
  min-width: 5%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: 400ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: margin, min-width, transform, width;
  user-select: none;
  width: auto;
}

// prettier-ignore
.board-slot {
  &[data-slot='0'] { z-index: 8; }
  &[data-slot='1'] { z-index: 7; }
  &[data-slot='2'] { z-index: 6; }
  &[data-slot='3'] { z-index: 5; }
  &[data-slot='4'] { z-index: 4; }
  &[data-slot='5'] { z-index: 3; }
  &[data-slot='6'] { z-index: 2; }
  &[data-slot='7'] { z-index: 1; }
}

.board-is-active .board-slot {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

.board-slot.has-minion {
  border-color: transparent;
  opacity: 1 !important;
  pointer-events: auto;
}

.board-slot.is-empty {
  border: 1px dashed rgba(255, 255, 255, 0.25);
  height: 75%;

  &:hover {
    border-color: rgba(255, 255, 255, 0.625);
  }
}

.your-board-play-area .board-slot.has-minion.cannot-drop-minion {
  cursor: default;
  pointer-events: none;
}

.board-is-active .board-slot[data-render='false'] {
  opacity: 0;
  pointer-events: none;
}

.board-slot.animate-minion-drop {
  animation-name: dropDown;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;

  @keyframes dropDown {
    0% {
      opacity: 0;
      transform: scale(1.8);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.board-slot.is-dead {
  min-width: 0;
}
