.game-wrapper {
  background: black;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &:before {
    background: rgba(0, 0, 0, 0.625);
    content: '';
    height: 100%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    @include position-fixed(0, 0, 0, 0, 9000);
  }
}
