// @import 'mixins/!module';
// @import 'abstracts/!module';
// @import 'utilities/!module';
// @import 'vendor/!module';
// @import 'game/!module';

.debug-panel {
  // display: none !important;
}

$Base-Background-Color: white;
$Change-Base-Background-Color: false;

$Enable-Board: true;
$Enable-Opponent: true;
$Enable-Player: true;
$Enable-Player-Hero: true;

// prettier-ignore
.bgio-client {
  @if $Change-Base-Background-Color == true {
    background: $Base-Background-Color;
    html, body, #root, .bgio-client { background: $Base-Background-Color; }
  } @else {
    background: #151515;
    html, body { background: #151515; }
  }

  @if $Enable-Board == false {[data-component="Board"] { display: none !important; }}
  @if $Enable-Player == false {[data-component="Player"] { display: none !important; }}
  @if $Enable-Player-Hero == false {[data-component="Hero"] { display: none !important; }}
  @if $Enable-Opponent == false {[data-component="Opponent"] { display: none !important; }}
}
