.opponent__interaction__layer {
  background: transparent;
  display: block;
  height: 100%;
  outline: none;
  position: absolute;
  width: 100%;
  z-index: calc(var(--zIndex-Hero) - 1);

  & + [data-component='Hero'] {
    pointer-events: none;
  }

  @media (min-width: 960px) {
    left: 0;
    right: 0;
    max-width: 920px;
    margin: 0 auto;
  }
}
