.opponent__interaction__layer {
  background: transparent;
  display: block;
  height: 100%;
  outline: none;
  position: absolute;
  width: 100%;
  z-index: calc(var(--zIndex-Hero) - 1);

  & + [data-component='Hero'] {
    pointer-events: none;
  }

  @media (min-width: 960px) {
    left: 0;
    right: 0;
    max-width: 1025px;
    margin: 0 auto;
  }

  @media (min-width: 1100px) {
    max-width: 1025px;
  }

  // @media (min-width: 1300px) {
  //   max-width: 1050px;
  // }
}
