// prettier-ignore
// .card__interaction--is-selected {
//   --card-height: 200px;
//   // @media (min-width: 375px) { --card-height: 375px; }
//   @media (min-width: 1200px) { --card-height: 400px; }
// }

.card__interaction--is-selected {
  cursor: pointer;
  pointer-events: auto;
  z-index: var(--zIndex-CardInteractionLayer--is-selected);
}

.card__effect--is-selected {
  $shadowColor: var(--box-shadow-is-selected-color);
  border-radius: calc(var(--card-height) / 28.571428571);
  // box-shadow: 0 0 10px $shadowColor, 0 0 20px $shadowColor;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 400ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: opacity;
  width: 100%;
  @include position-absolute(0, 0, 0, 0, 0);
}

.card__interaction--is-selected .card__effect--is-selected {
  opacity: 1;
}
