.player__stats__icon {
  font-size: 30px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  outline: none;
  z-index: 2;

  & + .player__stats__icon {
    margin-left: 10px;
  }

  [data-file='AppIcon'] {
    top: -10px;
    right: -10px;
    position: absolute;
  }

  .player__stat {
    font-family: var(--font-family-card);

    & > span {
      letter-spacing: normal;

      &[data-value='10'],
      &[data-value='11'],
      &[data-value='12'],
      &[data-value='13'],
      &[data-value='14'],
      &[data-value='15'],
      &[data-value='16'],
      &[data-value='17'],
      &[data-value='18'],
      &[data-value='19'],
      &[data-value='20'],
      &[data-value='21'],
      &[data-value='22'],
      &[data-value='23'],
      &[data-value='24'],
      &[data-value='25'],
      &[data-value='26'],
      &[data-value='27'],
      &[data-value='28'],
      &[data-value='29'],
      &[data-value='30'] {
        letter-spacing: -0.065em;
      }
    }
  }
}
