.card__subtype__image {
  height: calc(var(--card-height) / 10.25);
  image-rendering: pixelated;
  z-index: 2;

  &__icon__wrapper {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: calc(var(--card-height) / 5.55556);
    justify-content: center;
    left: calc(var(--card-height) / 350);
    position: absolute;
    top: calc(var(--card-height) / -600);
    width: calc(var(--card-height) / 5.55556);
    z-index: 2;
  }

  &__wrapper {
    align-items: center;
    bottom: calc(var(--card-height) / 4.25);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    right: calc(var(--card-height) / -30);
    z-index: 2;
  }

  &__badge {
    image-rendering: pixelated;
    position: relative;
    top: 1px;
    width: calc(var(--card-height) / 5.55556);
  }
}
