.component {
  
}

.zone-name {
  font-size: 9px;
  font-style: italic;
  letter-spacing: -0.15px;
}

.zone-power-text {
  margin-top: 0.25em;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.875;
}
