.card__cost {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-size: calc(var(--card-height) / 15.384615385);
  height: calc(var(--card-height) / 9.090909091);
  justify-content: center;
  left: calc(var(--card-height) / 50);
  position: absolute;
  top: calc(var(--card-height) / 50);
  width: calc(var(--card-height) / 9.090909091);
  z-index: 2;

  & > div {
    top: calc(var(--card-height) / 400);
  }
}
