@mixin targeting-ripple-hover-animation(
  $color: var(--box-shadow-can-be-selected-color-ripple)
) {
  & + .minion__shadows:after {
    animation: targeting-ripple 600ms linear infinite;
  }

  &:hover + .minion__shadows:before {
    transform: scale(0.875);
    transition-delay: 200ms;
  }

  &:hover + .minion__shadows:after {
    opacity: 1;
    transform: scale(1);
  }

  @keyframes targeting-ripple {
    0% {
      box-shadow: 0 4px 10px $color, 0 0 0 0 $color, 0 0 0 5px $color,
        0 0 0 10px $color;
    }
    100% {
      box-shadow: 0 4px 10px $color, 0 0 0 5px $color, 0 0 0 10px $color,
        0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
}
