.card__base__image {
  border-radius: calc(var(--card-height) / 28.571428571);
  height: var(--card-height);
  image-rendering: pixelated;
  position: relative;
  z-index: 1;
}

.card__base__image__loader {
  background-color: #111;
  border-radius: calc(var(--card-height) / 28.571428571);
  height: var(--card-height);
  image-rendering: pixelated;
  position: relative;
  z-index: 1;
}
