@import '@ccg/styles';
@import './styles/card-developer';

html,
body {
  background-color: transparent;
}

#root {
  background: #222;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#app {
  box-sizing: border-box;
}
