.player-hand {
  --card-height: 120px;
  --card-width-division: 1.400266051;
  --card-width: calc(var(--card-height) / var(--card-width-division));
  --card-cost-font-size: 2em;
  --card-power-font-size: 2em;
}
