.minion--is-concealed {
  pointer-events: none;
}

.minion--is-concealed ~ [data-file='Minion'] {
  &:before {
    background: #333;
    border-radius: var(--minion-border-radius);
    content: '';
    height: 100%;
    overflow: hidden;
    width: 100%;
    @include position-absolute(0, 0, 0, 0, 0);
  }

  [data-file='Minion/image'] {
    opacity: 0.25;
  }

  .concealed__clouds {
    animation: scroll-smoke 20s linear infinite;
    background-image: url('/images/mechanics/CONCEALED.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block !important;
    height: 250%;
    opacity: 0.625;
    position: absolute;
    transform: translate(0, -100px);
    width: 400%;
    z-index: 1;
  }

  @keyframes scroll-smoke {
    0% {
      transform: translate(50%, -100%);
    }

    100% {
      transform: translate(-25%, 50%);
    }
  }
}
