.card__developer {
  width: 100vw;
  min-height: 90vh;

  // prettier-ignore
  button {
    appearance: none;
    background: #999;
    &[data-active='true'] { background: #fff; }
    border: 0;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    user-select: none;
  }
}

.card__developer .flex {
  height: 100%;
  width: 100%;
  @include display-flex(row-reverse nowrap, flex-start, space-between);
}

// prettier-ignore
.card__developer .left {
  padding: 6px 10px;
  @include breakpoint('medium') { padding: 40px; }
  width: 35vw;
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  @include display-flex(column nowrap, center, flex-start);
}

.card__developer .right {
  width: 65vw;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  @include display-flex(column nowrap, center, center);
}

.card__developer .board__floor {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.card__developer .margin {
  margin: 20px 0;
  width: 100%;

  &-small {
    margin: 10px 0;
  }
}

.card__developer .label {
  color: white;
  cursor: default;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 6px;
  user-select: none;
}

.card__developer .selector {
  width: 100%;
}

// MINIONS
.card__developer.minion__developer {
  .id__selector {
    padding: 0 20px;
  }

  // prettier-ignore
  .board-slot-card-tooltip {
    display: none;
    @include breakpoint('medium') { display: flex; }
  }

  .selector > div:nth-of-type(2) {
    z-index: 100;
  }
}

// prettier-ignore
.card__developer.minion__developer .board__floor {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint('medium') { background-size: contain; }
}
